---
import "../css/reset.css";
import "../css/font.scss";
import Nav_sp from "../components/Nav_sp.astro";
interface Props {
  title: string;
  category_microcms?:string;
  response?: string;
  path?:string;
  Is_nav: boolean;
}

//category_microcms:カテゴリー情報のみ
//response：投稿記事全体
const { title, category_microcms, response, path, Is_nav } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs.min.css"
    />
  </head>
  <body>
    <div class="overview">
      {
        Is_nav === true && <Nav_sp category_microcms={category_microcms}, response={response}, path={path}/>
      }
    </div>
    <header class="header">
      <h1 class="header-title">{title}</h1>
      {
      Is_nav ===true && <nav class="header-nav"></nav>
      }

    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    color: #111;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    overflow-x: hidden;

    & .header-title {
      display: block;
      font-size: 2em;
      font-weight: 900;
      height: 80px;
      line-height: 80px;
      margin-left: 0.5em;
    }
    & .header-nav {
      /* display: none; */
    }
  }
  @media (max-width: 767px) {
    .header {
      /* position: relative; */
      width: 100vw;
      

      & .header-nav {
        display: block;
        position: absolute;
        right: 1em;
        width: 40px;
        height: 40px;
        border: 1px solid #111;
        border-radius: 50%;
      }
      & .hn_action {
        background-color: #111;
        transition-duration:.5s
      }
    }
    .overview {
      position: fixed;
      width: 100vw;
      min-height: 100vh;
      background-color: #ddd;
      /* opacity: 0.9; */
      text-align: center;
      transform: translateX(100%);
      
      
      
    }
    & .ov_action {
      transform: translateX(0%);
      transition-duration:.5s, .5s;
    }
  }
</style>
<script>
  
  const overview = document.querySelector(".overview");
  const nav = document.querySelector(".header-nav");

  nav?.addEventListener("click", () => {
    nav?.classList.toggle("hn_action");
    overview?.classList.toggle("ov_action");
  });
</script>
